services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: user
      MONGO_INITDB_ROOT_PASSWORD: password

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"

  ingestor:
    build: ./ingestor
    ports:
      - "3000:3000"
    environment:
      RABBITMQ_URL: amqp://user:password@rabbitmq:5672
      QUEUE_NAME: csv_processing_queue
    depends_on:
      rabbitmq:
        condition: service_healthy

  worker:
    build: ./worker
    environment:
      RABBITMQ_URL: amqp://user:password@rabbitmq:5672
      QUEUE_NAME: csv_processing_queue
      MONGO_URI: mongodb://user:password@mongodb:27017
      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      CONFIG_PATH: /app/config/pipeline_config.json
    volumes:
      - ./config:/app/config
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongodb:
        condition: service_started
